In [5]:
import pyspark
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .master("local[2]")
    .appName("test")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/24 23:52:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Question 1

In [6]:
spark.version

'3.3.1'

# Question 2

! cd ../data/fhvhv && wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

In [13]:
import pandas as pd

In [16]:
pd.read_csv(Path("../data/fhvhv/fhvhv_tripdata_2021-06.csv.gz").resolve(), nrows=10)

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
1,B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
2,B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
3,B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
4,B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,NaN
5,B02510,2021-06-01 00:18:15,2021-06-01 00:25:47,49,17,N,NaN
6,B02510,2021-06-01 00:33:06,2021-06-01 00:42:46,49,225,N,NaN
7,B02510,2021-06-01 00:46:27,2021-06-01 00:56:50,225,177,N,NaN
8,B02764,2021-06-01 00:48:06,2021-06-01 01:04:10,209,45,N,B02764
9,B02875,2021-06-01 00:18:54,2021-06-01 00:26:14,80,256,N,B02875

In [17]:
pd.read_csv(Path("../data/fhvhv/fhvhv_tripdata_2021-06.csv.gz").resolve(), nrows=10).dtypes

dispatching_base_num      object
pickup_datetime           object
dropoff_datetime          object
PULocationID               int64
DOLocationID               int64
SR_Flag                   object
Affiliated_base_number    object
dtype: object

In [20]:
from pyspark.sql import types

schema = types.StructType([
    types.StructField("dispatching_base_num", types.StringType(), True),
    types.StructField("pickup_datetime", types.TimestampType(), True),
    types.StructField("dropoff_datetime", types.TimestampType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("SR_Flag", types.StringType(), True),
    types.StructField("Affiliated_base_number", types.StringType(), True),
])

In [21]:
from pathlib import Path

df = (
    spark
    .read
    .option("header", "true")
    .schema(schema)
    .csv(Path("../data/fhvhv/fhvhv_tripdata_2021-06.csv.gz").resolve().as_posix())
)

In [22]:
df.head(5)

[Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 2, 41), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 7, 46), PULocationID=174, DOLocationID=18, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 16, 16), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 21, 14), PULocationID=32, DOLocationID=254, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 27, 1), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 42, 11), PULocationID=240, DOLocationID=127, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02764', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 46, 8), dropoff_datetime=datetime.datetime(2021, 6, 1, 0, 53, 45), PULocationID=127, DOLocationID=235, SR_Flag='N', Affiliated_base_number='B02764'),
 Row(dispatching_base_num='B02510', pickup_datetime=datetime.datetime(2021, 6, 1, 0, 45, 42), dropoff_datetime=datetime.datetime(2021, 6, 1, 1, 3, 33), PULocationID=144, DOLocationID=146, SR_Flag='N', Affiliated_base_number=None)]

(
    df
    .repartition(12)
    .write
    .parquet(Path("../data/fhvhv/2021/06/").resolve().as_posix())
)

In [26]:
! ls -l ../data/fhvhv/2021/06

total 290748
-rw-r--r-- 1 joaopmatias joaopmatias        0 Feb 25 00:38 _SUCCESS
-rw-r--r-- 1 joaopmatias joaopmatias 24801840 Feb 25 00:38 part-00000-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24799764 Feb 25 00:38 part-00001-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24813665 Feb 25 00:38 part-00002-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24816657 Feb 25 00:38 part-00003-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24807133 Feb 25 00:38 part-00004-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24800815 Feb 25 00:38 part-00005-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24812906 Feb 25 00:38 part-00006-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24809398 Feb 25 00:38 part-00007-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24814315 Feb 25 00:38 part-00008-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24810739 Feb 25 00:38 part-00009-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24810799 Feb 25 00:38 part-00010-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet
-rw-r--r-- 1 joaopmatias joaopmatias 24803713 Feb 25 00:38 part-00011-b8432052-872e-4b39-9551-e2789418d982-c000.snappy.parquet

# Question 3

In [37]:
%%time

from pyspark.sql import functions as F

(
    df
    .withColumn("pickup_date", F.to_date(F.col("pickup_datetime")))
    .filter(F.col("pickup_date") == "2021-06-15")
    .count()
)

CPU times: user 9.55 ms, sys: 1.17 ms, total: 10.7 ms
Wall time: 24 s

452470

# Question 4

In [77]:
%%time

(
    df
    .withColumn("pickup_date", F.to_date(F.col("pickup_datetime")))
    .withColumn("duration", F.col("dropoff_datetime") - F.col("pickup_datetime"))
    .groupBy()
    .agg({"duration": "max"})
    .collect()
)

CPU times: user 13 ms, sys: 4.88 ms, total: 17.9 ms
Wall time: 28.9 s

[Row(max(duration)=datetime.timedelta(days=2, seconds=67964))]

# Question 5

# Question 6

! cd ../data && wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

In [79]:
df_zone = (
    spark
    .read
    .option("header", "true")
    .csv(Path("../data/taxi_zone_lookup.csv").resolve().as_posix())
)

In [80]:
df_zone.head()

Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR')

In [90]:
%%time

(
    df
    .select("PULocationID")
    .groupBy("PULocationID")
    .count()
    .join(
        df_zone
        .select(F.col("LocationID").alias("PUlocationID"), F.col("Zone")),
        on="PUlocationID")
    .orderBy("count", ascending=False)
    .show()
)

+------------+------+--------------------+
|PULocationID| count|                Zone|
+------------+------+--------------------+
|          61|231279| Crown Heights North|
|          79|221244|        East Village|
|         132|188867|         JFK Airport|
|          37|187929|      Bushwick South|
|          76|186780|       East New York|
|         231|164344|TriBeCa/Civic Center|
|         138|161596|   LaGuardia Airport|
|         234|158937|            Union Sq|
|         249|154698|        West Village|
|           7|152493|             Astoria|
|         148|151020|     Lower East Side|
|          68|147673|        East Chelsea|
|          42|146402|Central Harlem North|
|         255|143683|Williamsburg (Nor...|
|         181|143594|          Park Slope|
|         225|141427|  Stuyvesant Heights|
|          48|139611|        Clinton East|
|         246|139431|West Chelsea/Huds...|
|          17|138428|             Bedford|
|         170|137879|         Murray Hill|
+------------+------+--------------------+
only showing top 20 rows

CPU times: user 18.3 ms, sys: 172 µs, total: 18.5 ms
Wall time: 21.9 s

23/02/25 02:11:28 WARN JavaUtils: Attempt to delete using native Unix OS command failed for path = /tmp/blockmgr-ed68d22c-75cc-4be4-a4b7-33528f8f946d. Falling back to Java IO way
java.io.IOException: Failed to delete: /tmp/blockmgr-ed68d22c-75cc-4be4-a4b7-33528f8f946d
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingUnixNative(JavaUtils.java:171)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:110)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:91)
	at org.apache.spark.util.Utils$.deleteRecursively(Utils.scala:1206)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1(DiskBlockManager.scala:374)
	at org.apache.spark.storage.DiskBlockManager.$anonfun$doStop$1$adapted(DiskBlockManager.scala:370)
	at scala.collection.IndexedSeqOptimized.foreach(IndexedSeqOptimized.scala:36)
	at scala.collection.IndexedSeqOptimized.foreach$(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:198)
	at org.apache.spark.storage.DiskBlockManager.doStop(DiskBlockManager.scala:370)
	at org.apache.spark.storage.DiskBlockManager.stop(DiskBlockManager.scala:365)
	at org.apache.spark.storage.BlockManager.stop(BlockManager.scala:2026)
	at org.apache.spark.SparkEnv.stop(SparkEnv.scala:95)
	at org.apache.spark.SparkContext.$anonfun$stop$23(SparkContext.scala:2140)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1484)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:2140)
	at org.apache.spark.SparkContext.$anonfun$new$35(SparkContext.scala:660)
	at org.apache.spark.util.SparkShutdownHook.run(ShutdownHookManager.scala:214)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$2(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:2066)
	at org.apache.spark.util.SparkShutdownHookManager.$anonfun$runAll$1(ShutdownHookManager.scala:188)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.util.SparkShutdownHookManager.runAll(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anon$2.run(ShutdownHookManager.scala:178)
	at java.base/java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:515)
	at java.base/java.util.concurrent.FutureTask.run(FutureTask.java:264)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)