# NY Taxi

In [1]:
from pathlib import Path

import pandas as pd
import numpy as np
import psycopg2

from sqlalchemy import create_engine

In [ ]:
list((Path().resolve().parent / "datasets").iterdir())

In [ ]:
file = Path().resolve().parent / "datasets" / "yellow_tripdata_2021-01.csv"

a = (
    pd.read_csv(file, nrows=100)
    .assign(tpep_pickup_datetime=lambda df: pd.to_datetime(df["tpep_pickup_datetime"]))
    .assign(tpep_dropoff_datetime=lambda df: pd.to_datetime(df["tpep_dropoff_datetime"]))
    .astype(dict(
        VendorID=np.int32, 
        RatecodeID=np.int32, 
        passenger_count=np.int32, 
        PULocationID=np.int32, 
        DOLocationID=np.int32, 
        payment_type=np.int32))
)
a

In [ ]:
print(pd.io.sql.get_schema(a, name="yellow_taxi_data", con=engine))

In [ ]:
a.loc[[]]

In [ ]:
b = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100_000)

In [ ]:
engine = create_engine("postgresql://root:root@localhost:5433/ny_taxi")

In [ ]:
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(a, name="yellow_taxi_data", con=engine))

In [ ]:
a.to_sql(name="yellow_taxi_data", con=engine, if_exists="append", index=False)

In [ ]:
df_iter = pd.read_csv("file.csv", iter=True, chunksize=100_000)

for df in df_iter:
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

def my_query(
    query,
    results=True,
    autocommit=False,
    readonly=True,
    host="localhost",
    dbname="sandbox",
    user="postgres",
    password="postgres",
):
    try:
        conn = psycopg2.connect(
            host=host,
            dbname=dbname,
            user=user,
            password=password,
        )
        conn.set_session(readonly=readonly, autocommit=autocommit)

        cur = conn.cursor()

        cur.execute(query)
        result = cur.fetchall()
    except ProgrammingError as e:
        print(str(e))
        result = None
    finally:
        conn.commit()
        cur.close()
        conn.close()

    return result
    
    
engine.execute("SELECT * FROM integers").fetchall()
    
    
https://stackoverflow.com/questions/34322471/sqlalchemy-engine-connection-and-session-difference

In [ ]:
try:
    conn = psycopg2.connect("postgresql://root:root@localhost:5433/ny_taxi")

    cur = conn.cursor()

    cur.execute("""
        CREATE TABLE yellow_taxi_data (
            "VendorID" BIGINT, 
            tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, 
            tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, 
            passenger_count BIGINT, 
            trip_distance FLOAT(53), 
            "RatecodeID" BIGINT, 
            store_and_fwd_flag TEXT, 
            "PULocationID" BIGINT, 
            "DOLocationID" BIGINT, 
            payment_type BIGINT, 
            fare_amount FLOAT(53), 
            extra FLOAT(53), 
            mta_tax FLOAT(53), 
            tip_amount FLOAT(53), 
            tolls_amount FLOAT(53), 
            improvement_surcharge FLOAT(53), 
            total_amount FLOAT(53), 
            congestion_surcharge FLOAT(53)
        )
    """)
finally:
    conn.commit()
    cur.close()
    conn.close()

result

In [ ]:
engine.execute("""
    CREATE TABLE yellow_taxi_data (
        "VendorID" BIGINT, 
        tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, 
        tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, 
        passenger_count BIGINT, 
        trip_distance FLOAT(53), 
        "RatecodeID" BIGINT, 
        store_and_fwd_flag TEXT, 
        "PULocationID" BIGINT, 
        "DOLocationID" BIGINT, 
        payment_type BIGINT, 
        fare_amount FLOAT(53), 
        extra FLOAT(53), 
        mta_tax FLOAT(53), 
        tip_amount FLOAT(53), 
        tolls_amount FLOAT(53), 
        improvement_surcharge FLOAT(53), 
        total_amount FLOAT(53), 
        congestion_surcharge FLOAT(53)
    )
""")

In [ ]:
engine.execute("""
    DROP TABLE yellow_taxi_data 
""").close()

In [2]:
pd.DataFrame().astype({"a":str})

KeyError: "Only a column name can be used for the key in a dtype mappings argument. 'a' not found in columns."

In [1]:
!open .

In [23]:

{**pd.DataFrame([1,2]).assign(a=None).assign(b=0)}

{0: 0    1
 1    2
 Name: 0, dtype: int64,
 'a': 0    None
 1    None
 Name: a, dtype: object,
 'b': 0    0
 1    0
 Name: b, dtype: int64}

In [27]:

from collections import defaultdict

functions = defaultdict(
    lambda: (lambda x: x),
    tpep_pickup_datetime=lambda df: pd.to_datetime(df["tpep_pickup_datetime"]),
    tpep_dropoff_datetime=lambda df: pd.to_datetime(df["tpep_dropoff_datetime"]),
    VendorID=lambda df: df["VendorID"].astype(np.int32),
    RatecodeID=lambda df: df["RatecodeID"].astype(np.int32),
    passenger_count=lambda df: df["passenger_count"].astype(np.int32),
    PULocationID=lambda df: df["PULocationID"].astype(np.int32),
    DOLocationID=lambda df: df["DOLocationID"].astype(np.int32),
    payment_type=lambda df: df["payment_type"].astype(np.int32),
)

In [28]:

functions["a"]

In [30]:

"b" in functions

False

In [31]:
functions.keys()

dict_keys(['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'VendorID', 'RatecodeID', 'passenger_count', 'PULocationID', 'DOLocationID', 'payment_type', 'a'])

In [33]:
type(dict())

dict

In [36]:
type({})

dict

In [35]:
{}

{}

In [40]:

pd.DataFrame([1,2]).assign(**{})

   0
0  1
1  2

  select count(*) 
  from green_taxi_data
  where lpep_pickup_datetime >= '2019-01-15 00:00:00' AND
  lpep_pickup_datetime < '2019-01-16 00:00:00' AND
  lpep_dropoff_datetime >= '2019-01-15 00:00:00' AND
  lpep_dropoff_datetime < '2019-01-16 00:00:00';


  select *
  from green_taxi_data
  limit 10;

  select green_taxi_data.*, dist.max_dist
  from green_taxi_data,
  (
    select max(trip_distance)
	from green_taxi_data
  ) dist(max_dist)
  where green_taxi_data.trip_distance >= dist.max_dist;

  select count(*) 
  from green_taxi_data
  where passenger_count in (2, 3) AND
  lpep_pickup_datetime >= '2019-01-01 00:00:00' AND
  lpep_pickup_datetime < '2019-01-02 00:00:00'
  group by passenger_count;
 
  select *
  from taxi_zone_lookup;

  
  select *
  from 
  (
    select green_taxi_data.*,
	  pu.area,
	  doff.area
    from green_taxi_data 
    full join
	(
	  select "LocationID", "Zone"
	  from taxi_zone_lookup
	) pu(loc_id, area)
    on green_taxi_data."PULocationID" = pu.loc_id
	full join 
	(
	  select "LocationID", "Zone"
	  from taxi_zone_lookup
	) doff(loc_id, area)
    on green_taxi_data."DOLocationID" = doff.loc_id
    where pu.area = 'Astoria'
  ) trip,
  (
    select max(green_taxi_data.tip_amount)
    from green_taxi_data 
    full join taxi_zone_lookup
    on green_taxi_data."PULocationID" = taxi_zone_lookup."LocationID"
    where taxi_zone_lookup."Zone" = 'Astoria'
  ) tip(max_tip)
  where trip.tip_amount >= tip.max_tip;


    select *
    from green_taxi_data 
    full join
	(
	  select "LocationID", "Zone"
	  from taxi_zone_lookup
	) pu(loc_id, area)
    on green_taxi_data."PULocationID" = pu.loc_id
	full join 
	(
	  select "LocationID", "Zone"
	  from taxi_zone_lookup
	) doff(loc_id, area)
    on green_taxi_data."DOLocationID" = doff.loc_id;